body{
    font-family: Arial,sans-serif;
    font-size: 13px;
}

header{
    display:block;
}

.header-bg{
    height:21px;
    text-align:right;
    padding:8px;
}

a{
    color:#696969;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

.application{
    position: relative;
    top:0.3em;
    padding-right:18px;
    opacity:0.66;
}
.application:hover, .application:focus, .application:active{
    opacity:1;
}

.upper-right{padding-right:18px;}
.upper-right-2{padding-right:11px;}
.button-input-place{padding-right:14.5px;}

.button-input{
    border-radius: 3px;
    font-size: 13px;
    height:30px;
    width:65px;
    border:none;
    text-align:center;
    color:#ffffff;
    font-weight:bold;
    background:-webkit-linear-gradient(#4387f0,#4387f8);
}

.button-input:hover{
box-shadow: 0 0.8px 0px 0 rgba(0,0,0,0.16), 0 0 0 0.8px rgba(0,0,0,0.08);
}

.mainImage{
    position:absolute;
    top:184px;
    left:544px;
}

.placeholder{
    position:absolute;
    top:318px;
    left:398px;
}

.placeholder-text{
    width:584px;
    height:44px;
    text-indent:15px;
    font-size:16px;
}

input[type="search"]
{
    border:0.5px;
    outline: none;
    box-shadow:0 1px 6px 0 rgba(0,0,0,0.2),0 0 0 0px rgba(0,0,0,0.08);
}
.placeholder input:hover, .placeholder input:focus
{
    border:1px;
    box-shadow:0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
    outline: none;
}

.buttons{
    position: absolute;
    top:394px;
    left:552.5px;
}
input[type="submit"]{
    background:#f2f2f2;
    color:#757575;
    font-size:13px;
    font-weight:bold;
    border-radius:2px;
    border: 1px solid #f2f2f2;
}
.button-design-first{
    height:36px;
    width:134px;
}

.button-design-second{
    height:36px;
    width:118.84px;
}

input[type="submit"]:hover {
    color:#1d1d35;
    border:1px solid #d0d0d0;
    background:-webkit-linear-gradient( #f2f2f2, #f8f8f8);
}

.button-padding{padding-left:4px;}

.footer{
    line-height: 39px;
    position:fixed;/* Фиксированное положение */
    left:0;bottom:0;/* Левый нижний угол */
    padding:0px;/* Поля вокруг текста */
    border:0.5px solid #e4e4e4;
    background:whitesmoke;/* Цвет фона */
    width:100%;/* Ширина на всю страницу */
}

.lower_left-1{padding-left:29px;margin:0}
.lower_left-2{padding-left:27px;margin:0}
.lower_center {padding-left:725px;margin:0}
.lower_left-3{padding-left:27px;margin:0}

.keyboard
{
    position:absolute;
    top:320px;
    right:443px;
    opacity:0.75;
}

.keyboard:hover, .keyboard:focus, .keyboard:active{
    opacity:1;
}

.voice
{
    position:absolute;
    top:317px;
    right:405px;
    cursor:pointer;
}